<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="/static/Mili_Wallpaper/css/and.css">
	</head>
	<body>
	  <div class="container">
	    <div class="card">
	      <div class="imgBx">
	        <img src="/static/Mili_Wallpaper/img/PYmili.jpg" alt="">
	      </div>
	      <div class="contentBx">
	        <h2>作者</h2>
	        <p>PYmili，一个个人开发者，热爱编程，愿意将所有程序开源并分享大家，未达到个人无法控制情况免费使用，个人开发出的所有程序及源代码。共同探索世界！</p>
	        <a href="https://blog.csdn.net/qq_53280175?spm=1000.2115.3001.5343" target="_blank"><span>Read More</span></a>
	      </div>
	    </div>
	    <div class="card">
	      <div class="imgBx">
	        <img src="/static/Mili_Wallpaper/img/mili_wallpaper.ico" alt="">
	      </div>
	      <div class="contentBx">
	        <h2>开发</h2>
	        <p>软件使用Python语言制作，使用到pyWin32, cv2, ffmpeg, mpv, tkinter等开发工具，或许功能并不是很强大，但也会持续更新及修复，希望会越来越好的！</p>
	        <a href="https://www.kuko.icu/API/MiliWallpaper/Mili_Wallpaper_Version/" target="_blank"><span>Read More</span></a>
	      </div>
	    </div>
	    <div class="card">
	      <div class="github">
	        <img src="https://github.com/favicon.ico" alt="">
	      </div>
	      <div class="contentBx">
	        <h2>开源</h2>
	        <p>软件完全开源，但不会留下历史版本，我会将最新版上传到github上，任何人都可以查看源代码，任何人都可以随意更改源代码，我们希望大家一起来创新程序！</p>
	        <a href="https://github.com/PYmili/Mili_Wallpaper" target="_blank"><span>Read More</span></a>
	      </div>
	    </div>
	  </div>
	</body>
</html>