<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Hello Kuko</title>
    <meta name="description" content="">
    <meta name="author" content="PYmili">

    <!-- mobile specific metas
    ================================================== -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/index/PYDOME_TYPE/css/base.css">
    <link rel="stylesheet" href="/static/index/PYDOME_TYPE/css/vendor.css">
    <link rel="stylesheet" href="/static/index/PYDOME_TYPE/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/static/index/PYDOME_TYPE/js/modernizr.js"></script>
    <script src="/static/index/PYDOME_TYPE/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/static/index/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/index/favicon.ico" type="image/x-icon">

</head>
<style>
    #btn {
        width: 50px;
        height: 50px;
        background: url("https://gitcode.net/qq_53280175/kuko/-/raw/master/static/index/PYDOME_TYPE/images/logo.ico") no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -ms-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        position: fixed;
        top: 0%;
        right: 50%;
        z-index: 6666;
		border-radius: 20px;
    }
</style>

<body>
	<div id="btn">
        <audio id="audio-player" ref="audio" preload="preload" autoplay="autoplay" loop="loop">
            <source src="/static/index/yinyue.mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
    </div>
    <!-- home
    ================================================== -->
    <main class="s-home s-home--slides">
        <div class="home-slider">
			{% for img in BgImageFile %}
				<div class="home-slider-img" style="background-image: url({{ img }});"></div>
			{% endfor %}
        </div>

        <!-- <div class="overlay"></div> -->

        <div class="home-content">

            <div class="row home-content__main">

                <div class="col-eight home-content__text pull-right">
                    <h3>欢迎来到我们的家</h3>

                    <h1>
                    欢迎来到Kuko
                    </h1>

                    <p>
                    好看的皮囊，千篇一律。
                    有趣的灵魂，万里挑一。
                    </p>
                </div>  <!-- end home-content__text -->

            </div>  <!-- end home-content__main -->

            <ul class="home-social">

            </ul> <!-- end home-social -->

            <div class="row home-copyright">
				<span><a href="https://beian.miit.gov.cn/" target="_blank">蜀2021032334</a></span>
                <span>Kuko &copy; 2021.9.15<a target="_blank" href="http://sc.chinaz.com/moban/"></a></span>
            </div> <!-- end home-copyright -->


            <div class="home-content__line"></div>

        </div> <!-- end home-content -->

    </main> <!-- end s-home -->


    <!-- info
    ================================================== -->
    <a class="info-toggle" href="#0">
        <span class="info-menu-icon"></span>
    </a>

    <div class="s-info">

        <div class="row info-wrapper">

            <div class="col-seven tab-full info-main">
                <h1>联系我们</h1>
                <p>PYmili QQ：2097632843</p>
                <p>PYmili 邮件: mc2005wj@163.com</p>
				<p>PYahao QQ: 2913805489</p>
                <p>PYahao 邮件: 2913805489@qq.com</p>
                <p>可以通过上方联系方式，联系到我们。</p>
                <p>也可以添加 QQ聊天群：706128290</p>
            </div>

            <div class="col-four tab-full pull-right info-contact">

                <div class="info-block">
                    <h3>站点目录</h3>
                    <p>
                        <a href="/10_12/" class="info-email">PYmili-生日祝福</a><br>
                        <!-- <a href="" class="'info-phone"></a> -->
                    </p>
                    <p>
						<a href="http://mpen.natapp1.cc/">PYmili-博客网页</a>
					</p>
					<p>
						<a href="/PYahao/">PYahao-博客网页</a>
					</p>
					<p>
						<a href="/RziL">RziL-音乐搜索平台</a>
					</p>
                </div>

                <div class="info-block">
                    <h3>警告</h3>
                    
                    <p class="info-address">
                        本站属于网络合法财产！<br>
                        属于个人财产！<br>
                        禁止任何，攻击行为！
                        禁止非法爬取网站内容！
                        请遵守，网络秩序!禁止非法行为！
                        侵犯者必追究！
                    </p>
                </div>
                
            </div>  <!-- end info contact -->

        </div>  <!-- end info wrapper -->

    </div> <!-- end s-info -->


    <!-- preloader
    ================================================== -->
	<div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div>欢迎你！陌生人！</div>
				<div>||||||||</div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
                <div>我正在, 努力加载。。。</div>
                <div>||||||||</div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
                <div>请您耐心等待.....</div>
            </div>
        </div>
    </div>

    <!-- Java Script
    ================================================== -->
    <script src="/static/index/PYDOME_TYPE/js/jquery-3.2.1.min.js"></script>
    <script src="/static/index/PYDOME_TYPE/js/plugins.js"></script>
    <script src="/static/index/PYDOME_TYPE/js/main.js"></script>


</body>
    
</html>
<script>
    let isWeixin = () => {
        let ua = window.navigator.userAgent.toLowerCase()
        return;
        /micromessenger/
            .test(ua)
    }
    // method 自动播放
    let audioPlayer = (id) => {
        let audio = document.getElementById(id)
        if (isWeixin()) {
            document.addEventListener(
                'WeixinJSBridgeReady'
                , () => {
                    audio.play()
                }, false);

            // 添加 getNetworkType 的判断原因, 请看问题分析2
            if (typeof window.
                WeixinJSBridge
                ==
                "object"
                && typeof window.
                    WeixinJSBridge
                    .invoke ==
                "function"
            ) {
                window.
                    WeixinJSBridge
                    .invoke(
                        'getNetworkType'
                        , {}, () => {
                            audio.play()
                        })
            }
        } else {
            // audio.play();
            let touchPlay = () => {
                audio.play();
                document.removeEventListener(
                    'touchstart'
                    , touchPlay, false)
            };
            if (audio.paused) {
                document.addEventListener(
                    'touchstart'
                    , touchPlay, false)
            }
        }
    }
    // 使用
    audioPlayer(
        'audio-player'
    );

    var audio = document.getElementById("audio-player");
    var btn = document.getElementById("btn");
    var rotateVal = 0;

    var InterVal;     // 定时器
    // 设置定时器
    function rotate() {
        InterVal = setInterval(function () {
            rotateVal += 4;
            // 设置旋转属性(顺时针)
            btn.style.transform = 'rotate(' + rotateVal + 'deg)';
            // 设置旋转属性(逆时针)
            //img.style.transform = 'rotate(-' + rotateVal + 'deg)'
            // 设置旋转时的动画  匀速0.1s
            btn.style.transition = '0.1s linear'
        }, 100)
    }
    // rotate();
    btn.onclick = function () {         //点击按钮播放停止
        if (audio.paused) { //判断当前的状态是否为暂停，若是则点击播放，否则暂停
            audio.play();
            rotate()
        } else {
            audio.pause();
            clearInterval(InterVal)
        }
    };
</script>