<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Mili Wallpaper Version</title>
		<link rel="stylesheet" type="text/css" href="./css/main.css"/>
		<link rel="shortcut icon" href="/static/MiliWallpaper/Mili_Wallpaper_Version/img/mili_wallpaper.ico" type="icon"/>
	</head>
	<body>
		<!-- 头部 -->
		<div>
			<p style="text-align: center;-webkit-text-stroke: 3px blue;">
				<font size="10">Mili Wallpaper Version Setup</font>
			</p>
		</div>
		<!-- 版本列表 -->
		<div id="Version_list">
			<ul>
			    <li>
			        <a href="/static/MiliWallpaper/Mili_Wallpaper_Version/file/Mili Wallpaper-v2.8_x64.exe">
			            Mili Wallpaper-v2.8_x64版本安装包
			        </a>[2022年12月4日]
			    </li>
			    <br /><br />
			    <li><a href="/static/MiliWallpaper/Mili_Wallpaper_Version/file/Mili Wallpaper-2.6.5_Windwos_10_11_x86.exe">Mili Wallpaper-2.6.5_Windwos_10_11_x86版本离线安装包</a> [2022年8月8]</li>
			    <br /><br />
			    <li><a href="/static/MiliWallpaper/Mili_Wallpaper_Version/file/Mili Wallpaper-2.6.5-Windows_10_11_x64.exe">Mili Wallpaper-2.6.5-Windows_10_11_x64版本离线安装包</a> [2022年8月8]</li>
			    <br /><br />
			    <li><a href="/static/MiliWallpaper/Mili_Wallpaper_Version/file/Mili Wallpaper-2.6-Window_10_x86.exe">Mili Wallpaper-2.6-Window_10_x86版本离线安装包</a> [2022年8月8]</li>
			    <br /><br />
			    <li><a href="/static/MiliWallpaper/Mili_Wallpaper_Version/file/Mili Wallpaper-2.6-Window_10_11_x64.exe">Mili Wallpaper-2.6-Window_10_11_x64版本离线安装包</a> [2022年8月8]</li>
			    <br /><br />
			    <li><a href="/static/MiliWallpaper/Mili_Wallpaper_Version/file/Mili Wallpaper-2.5.56.exe">MiliWallpaper-2.5.56版本离线安装包</a> [2022年7月12]</li>
			    <br /><br />
			    <li><a href="/static/MiliWallpaper/Mili_Wallpaper_Version/file/Mili Wallpaper-2.5.exe">MiliWallpaper-2.5版本离线安装包</a> [2022年7月10]</li>
			    <br /><br />
			    <li><a href="/static/MiliWallpaper/Mili_Wallpaper_Version/file/Mili Wallpaper-2.1.exe">MiliWallpaper-2.1版本离线安装包</a> [2022年7月3]</li>
			    <br /><br />
			    <li><a href="/static/MiliWallpaper/Mili_Wallpaper_Version/file/Mili Wallpaper-2.0.exe">MiliWallpaper-2.0版本离线安装包</a> [2022年7月2]</li>
			    <br /><br />
			    <li><a href="/static/MiliWallpaper/Mili_Wallpaper_Version/file/Mili_Wallpaper-1.9.1.exe">MiliWallpaper-1.9.1版本离线安装包</a> [2022年6月18]</li>
			    <br /><br />
			    <li><a href="/static/MiliWallpaper/Mili_Wallpaper_Version/file/MiliWallpaper-1.7-Setup.exe">Version-1.7版本离线安装包</a> [2022年4月20]</li>
			    <br /><br />
			    <li><a href="/static/MiliWallpaper/Mili_Wallpaper_Version/file/MiliWallpaper_1.6_Setup.exe">Version-1.6版本离线安装包</a> [2022年4月19]</li>
				<br /><br />
				<li><a href="/static/MiliWallpaper/Mili_Wallpaper_Version/file/MiliWallpapersetup.exe">Version-1.5.54版本离线安装包(exe)</a> [2022年3月16日]</li>
				<br /><br />
				<li>开源地址：<a href="https://github.com/PYmili/Mili_Wallpaper" target="_blank">点我！</a></li>
			</ul>
		</div>
		<h3>联系方式：qq:2097632843[PYmili] qq群:706128290[PYDOME]</h3>
	</body>
</html>
