<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/RziL/css/search.css" />
	<title>RziLSearch</title>
</head>
<body>
	{% for data in MusicData %}
		<div class="card">
			<div class="photo">
				<img src="{{ data['img'] }}" alt="{{ data['FileName'] }}">
			</div>
			<h3>{{ data['FileName'] }}</h3>
			<h2>作者:{{ '，'.join(data['authors']) }}</h2>
			<a href="{{ data['Original Address'] }}">原地址</a>
			<a href="{{ data['mp3'] }}">mp3文件</a>
		</div>
	{% endfor %}
</body>
</html>