<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/RziL/css/main.css" />
	<title>RziL-音乐搜索</title>
	<style>
		body {
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-image: url("{{ bg }}");
			background-color: {{ RandomColor }};
		}
	</style>
</head>
<body>
	<!-- 搜索框最外边框，动画变化的边框，从圆形变成长条形圆角 -->
	<div class="search-box">
		<!-- 左侧搜索框 -->
		<div class="key">
			<input type="text" placeholder="请输入搜索关键词..." id="SearchInput">
		</div>
		<!-- 右侧搜索按钮 -->
		<div class="bt">
			<a id="SearchA">
				<i class="iconfont icon-sousuo"></i>
			</a>
	    </div>
	</div>
	<script>
		// 搜索框box元素
		var box = document.querySelector('.search-box');
	
	    // 增加监听mouseover事件
	    box.addEventListener('mouseover', () => {
	        // 增加active样式
	        box.classList.add('active');
	    });
	
	    // 解决点击搜索框会触发 body.click事件问题
	    box.addEventListener('click',(e)=>{
			// 防止事件冒泡
	        e.stopPropagation();
	    });
	
	    document.body.addEventListener('click', () => {
	        // 移除active样式
	        box.classList.remove('active');
	    });
		
		var SearchA = document.getElementById('SearchA');
		var SearchInput = document.getElementById('SearchInput');
		
		SearchA.onclick = function() {
			if (SearchInput.value == "") {
				alert("请输入关键字！")
			} else {
				window.location.href="/RziLSearch?MusicName="+SearchInput.value
			}
		}
	</script>
</body>
</html>